.page-post {
    .post-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .sidebar {
            width: 300px;
            flex-shrink: 0;
        }
    }
    .content {
        h2 {
            line-height: 1.5;
        }
        p, li {
            line-height: 1.5;
        }
    }
    .post-banner {
        margin-block: 40px;
        .content {
            width: 100%;
            .title {
                font-size: 25px;
            }
        }
        .button {
            display: inline-block;
            margin-top: 20px;
        }
    }
    @media all and (max-width: 1024px){
        .post-container {
            .sidebar {
                width: 200px;
                flex-shrink: 0;
            }
        }
    }
    @media all and (max-width: 680px){
        .post-container {
            .sidebar {
                display: none;
            }
            .post-banner {
                margin-block: 20px;
            }
        }
    }
}
