.faq-section {
    h2 {
        margin: 60px 0 40px;
    }
    .faq-question {
        display: flex;
        gap: 12px;
        cursor: pointer;
        &:before {
            content: '';
            width: 14px;
            height: 8px;
            display: inline-block;
            flex-shrink: 0;
            margin-top: 7px;
            background-image: url("data:image/svg+xml;utf8,\
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8' fill='none'>\
                <path d='M1 6.58569L6.29289 1.2928C6.68342 0.902276 7.31658 0.902276 7.70711 1.2928L13 6.58569' stroke='%23292929' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/>\
                </svg>");
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.3s ease-in-out;
        }
        h3 {
            margin: 0;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.4;
        }
    }
    .faq-answer {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        span {
            padding-left: 24px;
            padding-top: 18px;
            line-height: 1.4;
            display: inline-block;
        }
    }
    .faq-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        align-items: start;
        @media all and (max-width: 680px){
            display: flex;
            flex-direction: column;
        }

    }
    .faq-item {
        background-color: #f8f5f2;
        padding: 25px;
        border-radius: 12px;
        &.is-close {
            .faq-question {
                &:before {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
