
.service {
    border-radius: 30px;
    background: #F5F2EF;
    margin: 10px;
    padding-bottom: 40px;
    position: relative;
    transition: 0.5s;
    display: block;
    &:hover .photo {
        transform: scale(1.18);
        opacity: 1;
    }
    .photo-outer {
        overflow: hidden;
        border-radius: 30px;
    }
    .photo {
        width: 100%;
        height: 220px;
        /* border-radius: 30px; */
        background-color: #F6FAFD;
        background-size: cover;
        background-position: center;
        position: relative;
        transition: 0.5s;
        opacity: 0.55;
    }
    .details {
        padding: 15px;
    }
    .description {
        font-size: 14px;
        margin: 8px 0 0 0;
        color: #777777;
        /* overflow: hidden; */
        /* display: -webkit-box; */
        /* -webkit-line-clamp: 3;
        line-clamp: 3; */
        /* -webkit-box-orient: vertical;
        max-height: 54px; */
    }
    .show-more {
        font-size: 14px;
        text-decoration: underline;
        display: block;
        width: 100%;
        color: #1A1919;
        font-weight: 500;
        margin: 10px 0 0;
    }
    .child-services {
        margin: 0;
        padding: 0px 10px 0 32px;
        li {
            padding: 2px 0;
            margin: 2px 0;
            font-size: 13px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .before_after{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        overflow: hidden;
        .before{
            width: 50%;
            height: 100%;
            background-size: cover;
            background-position: left;
            border-right: 1px solid #fff;
      }
      .after{
            width: 50%;
            height: 100%;
            background-size: cover;
            background-position: right;
            border-left: 1px solid #fff;
      }
    }
}
